body { padding-top: 60px; }

.container {
    width: 100%;
    max-width: 100%;
    padding: 0px;
}

.leaflet-container{
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar .form-inline {
  padding-top: 2px;
  min-width: 500px;
}

.navbar .form-inline input {
  padding-bottom: 2px;
}

.navbar .form-inline input {
  min-width: 500px;
}

.navbar img {
  margin-top: -8px;
  height: 40px;
}

.tagsContainer{
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.tagsContainer::before{
  box-shadow: none;
  background-color: transparent;
  border: none;
}

.main-brand {
  padding-top: 0px;
  font-size: 1.75em;
  font-family: 'Lobster', cursive;;
}

#settings.nav-item  {
  color: darkgray;
  padding-left: 10px;
  padding-top: 4px;
}